.rating_star {
    display: flex;
}
.rating_star_full {
    padding-left: 0.3rem;
    font-size: 25px;
    color: #FF6060;
}

.rating_star_grey {
    padding-left: 0.3rem;
    font-size: 25px;
    color: rgb(188, 186, 186)
}

@media (max-width: 700px) {
    .rating_star {
        left: 20px;
        top: 489px;
    }

    .rating_star_full{
        font-size: 15px;
    }

    .rating_star_grey {
        font-size: 15px;
    }
}