
.about_collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}

.about_content {
    width: 80%;
    color: #FF6060;
}

@media (max-width: 700px) {
    .about_collapse {
        width: 95%;
        margin-left: 2.5%;
    }

    .about_content {
        width: 100%;  
    }
}