
.home_card {
    left: 36.29%;
    right: 36.29%;
    top: 53.8%;
    bottom: 5.19%;
}

.home_figure {
    display: flex;
    position: relative;
    align-items: center;
    height: 340px;
    width: 340px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

.home_img {
    position: absolute;    
    height: 340px;
    width: 340px;
    border-radius: 10px;
    background: #FF6060;
}

.home_figcaption {  
    display: flex;
    position: absolute;
    left: 5.88%;
    right: 5.88%;
    top: 78.82%;
    bottom: 5.88%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    align-items: flex-end;
    color: #FFFFFF;
}