

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {
    width: 10rem;
    padding: 10px;
}

.header_nav_link_about {
display: flex;
align-items: flex-end;
text-align: right;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
padding: 10px;

/* or 34px */


color: #FF6060;
}

.header_nav_link_home {
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
    
    /* or 34px */
    
    
    color: #FF6060;
}

@media (max-width: 700px) {
    .header {
        width: 98%;
    }

    .header_logo {
        width: 7rem;
    }

    .header_nav {
        padding-left: 0;
    } 
}