.banner {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .banner_title {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 28px;
  }
  
  .banner_img {
    position: relative;
    width: 95%;
    height: 223px;
    object-fit: cover;
    mix-blend-mode: darken;
    border-radius: 25px;
  }

  @media (max-width: 700px) {
    .banner {
      width: 100%;
    }

    .banner_title {
      width: 65%;
      justify-content: start;
    }
  }